[submodule "lib/phi-search"]
	path = lib/phi-search
	url = git@github.com:zk-phi/phi-search.git
[submodule "lib/multiple-cursors.el"]
	path = lib/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "lib/Fill-Column-Indicator"]
	path = lib/Fill-Column-Indicator
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "lib/clojure-snippets"]
	path = lib/clojure-snippets
	url = git@github.com:mpenet/clojure-snippets.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "lib/perspective-el"]
	path = lib/perspective-el
	url = git@github.com:nex3/perspective-el.git
[submodule "lib/emacs-async"]
	path = lib/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "lib/emacs-helm-ag"]
	path = lib/emacs-helm-ag
	url = git@github.com:syohex/emacs-helm-ag.git
[submodule "lib/helm-descbinds"]
	path = lib/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/aggressive-indent-mode"]
	path = lib/aggressive-indent-mode
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "lib/midje-mode"]
	path = lib/midje-mode
	url = git@github.com:dnaumov/midje-mode.git
[submodule "lib/names"]
	path = lib/names
	url = git@github.com:Malabarba/names.git
[submodule "lib/restclient.el"]
	path = lib/restclient.el
	url = git@github.com:pashky/restclient.el.git
[submodule "lib/synosaurus"]
	path = lib/synosaurus
	url = git@github.com:hpdeifel/synosaurus.git
[submodule "lib/zeal-at-point"]
	path = lib/zeal-at-point
	url = git@github.com:jinzhu/zeal-at-point.git
[submodule "lib/eval-in-repl"]
	path = lib/eval-in-repl
	url = git@github.com:kaz-yos/eval-in-repl.git
[submodule "lib/ar-org"]
	path = lib/ar-org
	url = git@github.com:arichiardi/ar-org.git
[submodule "lib/orgit"]
	path = lib/orgit
	url = git@github.com:magit/orgit.git
[submodule "lib/browse-at-remote"]
	path = lib/browse-at-remote
	url = git@github.com:rmuslimov/browse-at-remote.git
[submodule "lib/f.el"]
	path = lib/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "lib/geiser"]
	path = lib/geiser
	url = git://git.sv.gnu.org/geiser.git
[submodule "lib/ac-geiser"]
	path = lib/ac-geiser
	url = https://github.com/xiaohanyu/ac-geiser
[submodule "lib/smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = git@github.com:antonj/scss-mode.git
[submodule "lib/tagedit"]
	path = lib/tagedit
	url = git@github.com:magnars/tagedit.git
[submodule "lib/string-edit.el"]
	path = lib/string-edit.el
	url = git@github.com:magnars/string-edit.el.git
[submodule "lib/helm-projectile"]
	path = lib/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
[submodule "lib/persp-projectile"]
	path = lib/persp-projectile
	url = git@github.com:bbatsov/persp-projectile.git
[submodule "lib/org-trello"]
	path = lib/org-trello
	url = git@github.com:org-trello/org-trello.git
[submodule "lib/emacs-request"]
	path = lib/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "lib/golden-ratio.el"]
	path = lib/golden-ratio.el
	url = git@github.com:roman/golden-ratio.el.git
[submodule "lib/flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "lib/flycheck-pos-tip"]
	path = lib/flycheck-pos-tip
	url = git@github.com:flycheck/flycheck-pos-tip.git
[submodule "lib/pos-tip"]
	path = lib/pos-tip
	url = git@github.com:syohex/pos-tip.git
[submodule "lib/helm-swoop"]
	path = lib/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
[submodule "lib/html-to-hiccup"]
	path = lib/html-to-hiccup
	url = https://github.com/plexus/html-to-hiccup.git
[submodule "lib/inf-clojure"]
	path = lib/inf-clojure
	url = git@github.com:clojure-emacs/inf-clojure.git
[submodule "lib/emacs-scala-mode"]
	path = lib/emacs-scala-mode
	url = git@github.com:ensime/emacs-scala-mode.git
[submodule "lib/ensime-emacs"]
	path = lib/ensime-emacs
	url = git@github.com:ensime/ensime-emacs.git
[submodule "lib/ensime-sbt"]
	path = lib/ensime-sbt
	url = git@github.com:ensime/ensime-sbt.git
[submodule "lib/emacs-sbt-mode"]
	path = lib/emacs-sbt-mode
	url = git@github.com:ensime/emacs-sbt-mode.git
[submodule "lib/jdee"]
	path = lib/jdee
	url = git@github.com:jdee-emacs/jdee.git
[submodule "lib/emacs-memoize"]
	path = lib/emacs-memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "lib/emacs-load-relative"]
	path = lib/emacs-load-relative
	url = git@github.com:rocky/emacs-load-relative.git
[submodule "lib/exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "lib/helm-cider"]
	path = lib/helm-cider
	url = git@github.com:clojure-emacs/helm-cider.git
