[submodule "lib/phi-search"]
	path = lib/phi-search
	url = git@github.com:zk-phi/phi-search.git
[submodule "lib/multiple-cursors.el"]
	path = lib/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "lib/Fill-Column-Indicator"]
	path = lib/Fill-Column-Indicator
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "lib/clojure-snippets"]
	path = lib/clojure-snippets
	url = git@github.com:mpenet/clojure-snippets.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "lib/perspective-el"]
	path = lib/perspective-el
	url = git@github.com:nex3/perspective-el.git
[submodule "lib/emacs-async"]
	path = lib/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "lib/emacs-helm-ag"]
	path = lib/emacs-helm-ag
	url = git@github.com:syohex/emacs-helm-ag.git
[submodule "lib/helm-descbinds"]
	path = lib/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/aggressive-indent-mode"]
	path = lib/aggressive-indent-mode
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "lib/midje-mode"]
	path = lib/midje-mode
	url = git@github.com:dnaumov/midje-mode.git
[submodule "lib/names"]
	path = lib/names
	url = git@github.com:Malabarba/names.git
[submodule "lib/restclient.el"]
	path = lib/restclient.el
	url = git@github.com:pashky/restclient.el.git
[submodule "lib/synosaurus"]
	path = lib/synosaurus
	url = git@github.com:hpdeifel/synosaurus.git
[submodule "lib/zeal-at-point"]
	path = lib/zeal-at-point
	url = git@github.com:jinzhu/zeal-at-point.git
[submodule "lib/eval-in-repl"]
	path = lib/eval-in-repl
	url = git@github.com:kaz-yos/eval-in-repl.git
[submodule "lib/ar-org"]
	path = lib/ar-org
	url = git@github.com:arichiardi/ar-org.git
[submodule "lib/orgit"]
	path = lib/orgit
	url = git@github.com:magit/orgit.git
[submodule "lib/browse-at-remote"]
	path = lib/browse-at-remote
	url = git@github.com:rmuslimov/browse-at-remote.git
[submodule "lib/f.el"]
	path = lib/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "lib/geiser"]
	path = lib/geiser
	url = git://git.sv.gnu.org/geiser.git
[submodule "lib/ac-geiser"]
	path = lib/ac-geiser
	url = https://github.com/xiaohanyu/ac-geiser
[submodule "lib/smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens.git
